<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Me</MEnu></title>
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Nothing+You+Could+Do" rel="stylesheet"> 

</head>


<body id = "index">
    <h1 id = "kenneth"> Kenneth </h1>
    <h1 id = "sungi"> Sungi </h1>
    <h1 id = "hong"> Hong </h1>
    <p id = "gaTag"> General Assembly WDI Canidate</p>
    <p id = "welcome"> Welcome To My Page</p>


    
<div id = control> 
    <a href= "about.html"> BIO - </a>
    <a href= "contact.html"> CONTACT INFO -</a>
    <a href= "skills.html"> SKILLS </a>
</div>

</body>
</html>